#define NEPTUNEOS_VERSION_DLL
#define NEPTUNEOS_STR_FILE_DESCRIPTION  "WmiLib"
#define NEPTUNEOS_STR_INTERNAL_NAME     "WmiLib"
#define NEPTUNEOS_STR_ORIGINAL_FILENAME "wmilib.sys"
#include <version.rc>
