/*
 * Inspired by NeptuneOS file sdk/include/version.rc
 *
 * Most version components are set to reasonable defaults here.
 *
 * You will need to define the following macros before including this file:
 *   NEPTUNEOS_STR_FILE_DESCRIPTION
 *   NEPTUNEOS_STR_INTERNAL_NAME
 *   NEPTUNEOS_STR_ORIGINAL_FILENAME
 *
 * If you are including this for a .DLL or .SYS file, you will also need to
 * define NEPTUNEOS_VERSION_DLL before including.
 */

#include "ntverp.h"

#define CURSOR		1
#define BITMAP		2
#define ICON		3
#define MENU		4
#define DIALOG		5
#define STRING		6
#define FONTDIR		7
#define FONT		8
#define ACCELERATOR	9
#define RCDATA		10
#define MESSAGETABLE	11
#define DIFFERENCE	MESSAGETABLE
#define GROUP_CURSOR	(CURSOR + DIFFERENCE)
#define GROUP_ICON	(ICON + DIFFERENCE)
#define VERSION		16
#define DLGINCLUDE	17
#define PLUGPLAY	19
#define VXD		20
#define ANICURSOR	21
#define ANIICON		22
#define HTML		23

/* Define some defaults (shouldn't be overwritten by applications */
#define NEPTUNEOS_DEFAULT_STR_COMPANY_NAME    "Neptune OS Project"
#define NEPTUNEOS_DEFAULT_STR_DESCRIPTION     "Neptune OS Core Component"
#define NEPTUNEOS_DEFAULT_STR_INTERNAL_NAME   ""
#define NEPTUNEOS_DEFAULT_STR_LEGAL_COPYRIGHT "(C) 2020-2024 Dr. Chang Liu, PhD."
#define NEPTUNEOS_DEFAULT_STR_PRODUCT_NAME    "Neptune OS"

/* Set defaults for everything, unless overridden */
#ifndef NEPTUNEOS_FILEVERSION
#define NEPTUNEOS_FILEVERSION VER_PRODUCTVERSION
#endif /* NEPTUNEOS_FILEVERSION */

#ifndef NEPTUNEOS_PRODUCTVERSION
#define NEPTUNEOS_PRODUCTVERSION VER_PRODUCTVERSION
#endif /* NEPTUNEOS_PRODUCTVERSION */

#ifndef NEPTUNEOS_FILEFLAGSMASK
#define NEPTUNEOS_FILEFLAGSMASK 0x3fL
#endif /* NEPTUNEOS_FILEFLAGSMASK */

#ifndef NEPTUNEOS_FILEFLAGS
#ifdef _DEBUG
#define NEPTUNEOS_FILEFLAGS 0x1L
#else
#define NEPTUNEOS_FILEFLAGS 0x0L
#endif /* _DEBUG */
#endif /* NEPTUNEOS_FILEFLAGS */

#ifndef NEPTUNEOS_FILEOS
#define NEPTUNEOS_FILEOS 0x00040004L
#endif /* NEPTUNEOS_FILEOS */

#ifndef NEPTUNEOS_FILETYPE
#ifdef NEPTUNEOS_VERSION_DLL
#define NEPTUNEOS_FILETYPE 0x2L
#else
#define NEPTUNEOS_FILETYPE 0x1L
#endif /* NEPTUNEOS_VERSION_DLL */
#endif /* NEPTUNEOS_FILETYPE */

#ifndef NEPTUNEOS_FILESUBTYPE
#define NEPTUNEOS_FILESUBTYPE 0x0L
#endif /* NEPTUNEOS_FILESUBTYPE */

#ifndef NEPTUNEOS_STR_COMPANY_NAME
#define NEPTUNEOS_STR_COMPANY_NAME NEPTUNEOS_DEFAULT_STR_COMPANY_NAME
#endif /* NEPTUNEOS_STR_COMPANY_NAME */

#ifndef NEPTUNEOS_STR_FILE_DESCRIPTION
#define NEPTUNEOS_STR_FILE_DESCRIPTION NEPTUNEOS_DEFAULT_STR_FILE_DESCRIPTION
#endif /* NEPTUNEOS_STR_FILE_DESCRIPTION */

#ifndef NEPTUNEOS_STR_FILE_VERSION
#define NEPTUNEOS_STR_FILE_VERSION GIT_HEAD_SHA_SHORT
#endif /* NEPTUNEOS_STR_FILE_VERSION */

#ifndef NEPTUNEOS_STR_INTERNAL_NAME
#define NEPTUNEOS_STR_INTERNAL_NAME NEPTUNEOS_DEFAULT_STR_INTERNAL_NAME
#endif /* NEPTUNEOS_STR_INTERNAL_NAME */

#ifndef NEPTUNEOS_STR_LEGAL_COPYRIGHT
#define NEPTUNEOS_STR_LEGAL_COPYRIGHT NEPTUNEOS_DEFAULT_STR_LEGAL_COPYRIGHT
#endif /* NEPTUNEOS_STR_LEGAL_COPYRIGHT */

#ifndef NEPTUNEOS_STR_ORIGINAL_FILENAME
#define NEPTUNEOS_STR_ORIGINAL_FILENAME ""
#endif /* NEPTUNEOS_STR_ORIGINAL_FILENAME */

#ifndef NEPTUNEOS_STR_PRODUCT_NAME
#define NEPTUNEOS_STR_PRODUCT_NAME NEPTUNEOS_DEFAULT_STR_PRODUCT_NAME
#endif /* NEPTUNEOS_STR_PRODUCT_NAME */

#ifndef NEPTUNEOS_STR_PRODUCT_VERSION
#define NEPTUNEOS_STR_PRODUCT_VERSION VER_PRODUCTVERSION
#endif /* NEPTUNEOS_STR_PRODUCT_VERSION */

#ifndef NEPTUNEOS_STR_PRODUCT_BUILD
#define NEPTUNEOS_STR_PRODUCT_BUILD GIT_HEAD_SHA_SHORT
#endif /* NEPTUNEOS_STR_PRODUCT_BUILD */

/* The version resource itself */
VS_VERSION_INFO VERSIONINFO
FILEVERSION     NEPTUNEOS_FILEVERSION
PRODUCTVERSION  NEPTUNEOS_PRODUCTVERSION
FILEFLAGSMASK   NEPTUNEOS_FILEFLAGSMASK
FILEFLAGS       NEPTUNEOS_FILEFLAGS
FILEOS          NEPTUNEOS_FILEOS
FILETYPE        NEPTUNEOS_FILETYPE
FILESUBTYPE     NEPTUNEOS_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",        NEPTUNEOS_STR_COMPANY_NAME
            VALUE "FileDescription",    NEPTUNEOS_STR_FILE_DESCRIPTION
            VALUE "FileVersion",        NEPTUNEOS_STR_FILE_VERSION
            VALUE "InternalName",       NEPTUNEOS_STR_INTERNAL_NAME
#ifdef NEPTUNEOS_STR_ORIGINAL_COPYRIGHT
            VALUE "OriginalCopyright",  NEPTUNEOS_STR_ORIGINAL_COPYRIGHT
#endif /* NEPTUNEOS_STR_ORIGINAL_COPYRIGHT */
            VALUE "LegalCopyright",     NEPTUNEOS_STR_LEGAL_COPYRIGHT
            VALUE "OriginalFilename",   NEPTUNEOS_STR_ORIGINAL_FILENAME
            VALUE "ProductName",        NEPTUNEOS_STR_PRODUCT_NAME
            VALUE "ProductVersion",     NEPTUNEOS_STR_PRODUCT_VERSION
#ifdef NEPTUNEOS_OLESELFREGISTER
            VALUE "OLESelfRegister",    ""
#endif /* NEPTUNEOS_OLESELFREGISTER */
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
