#define NEPTUNEOS_VERSION_DLL
#define NEPTUNEOS_STR_FILE_DESCRIPTION  "Battery Class Driver"
#define NEPTUNEOS_STR_INTERNAL_NAME     "battc"
#define NEPTUNEOS_STR_ORIGINAL_FILENAME "battc.sys"
#include <version.rc>
