#define NEPTUNEOS_VERSION_DLL
#define NEPTUNEOS_STR_FILE_DESCRIPTION  "PCI Bus Driver"
#define NEPTUNEOS_STR_INTERNAL_NAME     "pci"
#define NEPTUNEOS_STR_ORIGINAL_FILENAME "pci.sys"
#include <version.rc>
#include <pciclass.rc>
