#define NEPTUNEOS_VERSION_DLL
#define NEPTUNEOS_STR_FILE_DESCRIPTION  "Composite Battery Driver"
#define NEPTUNEOS_STR_INTERNAL_NAME     "compbatt"
#define NEPTUNEOS_STR_ORIGINAL_FILENAME "compbatt.sys"
#include <version.rc>
