#define NEPTUNEOS_VERSION_DLL
#define NEPTUNEOS_STR_FILE_DESCRIPTION  "Control Method Battery Miniclass Driver"
#define NEPTUNEOS_STR_INTERNAL_NAME     "cmbatt"
#define NEPTUNEOS_STR_ORIGINAL_FILENAME "cmbatt.sys"
#include <version.rc>
