/*
 * PROJECT:        NeptuneOS Floppy Disk Controller Driver
 * LICENSE:        GNU GPLv2 only as published by the Free Software Foundation
 * FILE:           drivers/storage/fdc/fdc/fdc.rc
 * PURPOSE:        Resource definition file
 * PROGRAMMERS:    Eric Kohl
 */

#define NEPTUNEOS_VERSION_DLL
#define NEPTUNEOS_STR_FILE_DESCRIPTION	"Floppy Disk Controller Driver"
#define NEPTUNEOS_STR_INTERNAL_NAME	"fdc"
#define NEPTUNEOS_STR_ORIGINAL_FILENAME	"fdc.sys"
#include <version.rc>
