#define NEPTUNEOS_VERSION_DLL
#define NEPTUNEOS_STR_FILE_DESCRIPTION  "FAT12/16/32 Filesystem Driver"
#define NEPTUNEOS_STR_INTERNAL_NAME     "fatfs"
#define NEPTUNEOS_STR_ORIGINAL_FILENAME "fatfs.sys"
#include <version.rc>
