#define NEPTUNEOS_VERSION_DLL
#define NEPTUNEOS_STR_FILE_DESCRIPTION  "NeptuneOS ACPI Driver"
#define NEPTUNEOS_STR_INTERNAL_NAME     "acpi"
#define NEPTUNEOS_STR_ORIGINAL_FILENAME "acpi.sys"
#include <version.rc>
